Repository znuny/Znuny, pull requests merged in 2021-06, with the labels that each got.

#84 Column list validation before saving agent preferences (#84).
  Kernel/Output/HTML/Preferences/ColumnFilters.pm
Labels: 1 - 🐞 bug 🐞, 2 - Frontend, 3 - verified, 3 - wait for merge, Znuny Feature, Znuny LTS

#90 Use ticket title as the default appointment title.
  Kernel/Modules/AgentAppointmentEdit.pm
  Kernel/Modules/AgentAppointmentPluginSearch.pm
  Kernel/System/Calendar/Plugin/Ticket.pm
  scripts/test/Calendar/Plugin.t
Labels: 1 - 🚀 feature, 2 - System/Calendar, 3 - verified, Znuny Feature

#38 Improvements for Dev::Code::CPANUpdate (#38).
  Kernel/System/Console/Command/Dev/Code/CPANUpdate.pm
Labels: 1 - 🚀 feature, 2 - System/Console, 3 - verified, 3 - wait for merge, Znuny Feature

#88 Do not warn agents about empty article subjects by default (#88).
  Kernel/Modules/AgentTicketCompose.pm
  var/httpd/htdocs/js/Core.Agent.TicketCompose.js
Labels: 1 - 🐞 bug 🐞, 2 - Frontend, 3 - verified, Znuny Feature, Znuny LTS

#94 Fixed not needed error message in TicketList.pm (#94).
  Kernel/System/Stats/Dynamic/TicketList.pm
Labels: 1 - 🐞 bug 🐞, 2 - System/Stats, 3 - verified, Znuny Feature, Znuny LTS

#91 Changed breadcrumb for the main action entry to a link.
  Kernel/Modules/AdminCustomerGroup.pm
  Kernel/Modules/AdminCustomerUserCustomer.pm
  Kernel/Modules/AdminCustomerUserGroup.pm
  Kernel/Output/HTML/Templates/Standard/AdminACL.tt
  Kernel/Output/HTML/Templates/Standard/AdminCommunicationLog.tt
  Kernel/Output/HTML/Templates/Standard/AdminDynamicField.tt
  Kernel/Output/HTML/Templates/Standard/AdminEmail.tt
  Kernel/Output/HTML/Templates/Standard/AdminLog.tt
  Kernel/Output/HTML/Templates/Standard/AdminProcessManagement.tt
  Kernel/Output/HTML/Templates/Standard/AdminSelectBox.tt
  Kernel/Output/HTML/Templates/Standard/AdminSupportDataCollector.tt
Labels: 1 - 💎 code quality, 2 - Frontend, 3 - verified, 3 - wait for merge, Znuny Feature, Znuny LTS

#96 Incorrect empty hash initializations fixed (#96).
  Kernel/System/GenericAgent.pm
  scripts/test/GenericInterface/Invoker/Test/Test.t
Labels: 1 - 🐞 bug 🐞, 2 - Backend, 3 - verified, Znuny Feature, Znuny LTS

#49 Added fix for #29 - linebreak breaks fulltext search (#49).
  Kernel/System/CheckItem.pm
  Kernel/System/Ticket/ArticleSearchIndex/DB.pm
  scripts/test/CheckItem.t
Labels: 1 - 🐞 bug 🐞, 2 - System/TicketSearch, 3 - verified, Znuny Feature, Znuny LTS
