Repository znuny/Znuny, pull requests merged in 2021-05, with the labels that each got.

#71 Fixed ACL item from selection not changeable (#71).
  var/httpd/htdocs/js/Core.Agent.Admin.ACL.js
Labels: 1 - 🐞 bug 🐞, 2 - Frontend, 3 - verified, 3 - wait for merge

#65 Fixed typo in variable "$SumRow"/"$SumCol" (#65).
  Kernel/System/Stats.pm
Labels: 1 - 🐞 bug 🐞, 2 - System/Stats, 3 - verified

#64 Changed autocomplete to 'new-password' (#64).
  Kernel/Output/HTML/Templates/Standard/AdminCustomerUser.tt
  Kernel/Output/HTML/Templates/Standard/AdminUser.tt
Labels: 1 - 🐞 bug 🐞, 2 - Frontend, 3 - verified

#27 Improve StorageSwitch command to be more flexible
  Kernel/System/Console/Command/Admin/Article/StorageSwitch.pm
  scripts/test/Console/Command/Internal/BashCompletion.t
Labels: 1 - 🚀 feature, 2 - System/Console, 3 - wait for reviewer
