Repository znuny/Znuny, pull requests merged in 2022-01, with the labels that each got.

#26 Parameter %Param are now passed to function Kernel::System::Email::Check.
  CHANGES.md
  Kernel/System/Email.pm
  Kernel/System/Email/Test.pm
  scripts/test/Email.t
Labels: 1 - 🐞 bug 🐞, 3 - verified, 2 - System/Email, 3 - wait for merge

#191 Fixed broken SmartTag example CUSTOMER_BODY.
  Kernel/Output/HTML/Templates/Standard/AdminAutoResponse.tt
  Kernel/Output/HTML/Templates/Standard/AdminNotificationEvent.tt
Labels: 1 - 🐞 bug 🐞, 2 - Documentation, 3 - verified, 1 - 💎 code quality, 3 - wait for merge, 2 - Frontend

#185 List all configured calendars in support data collector
  Kernel/System/SupportDataCollector/Plugin/OTRS/TimeSettings.pm
Labels: 1 - 🐞 bug 🐞, 3 - verified, 1 - 💎 code quality, 3 - wait for merge, 2 - System/Calendar
